<div class="card" style="width:400px; margin-top:30px;">
    <div class="card-header">
        Editar Empleado
    </div>
    <div class="card-body">
        <form [formGroup]="formularioEmpleados" (ngSubmit)="enviarDatos()">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input formControlName="nombre" type="text" class="form-control" name="nombre" id="nombre">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">DNI</label>
                <input formControlName="dni" type="text" class="form-control" name="dni" id="dni" >
            </div>
            <div class="mb-3">
                <label for="fecha" class="form-label">Fecha del contrato</label>
                <input formControlName="fecha" type="text" class="form-control" name="fecha" id="fecha">
            </div>
            <div class="mb-3">
                <label for="vacaciones" class="form-label">Días de vacaciones</label>
                <input formControlName="vacaciones" type="text" class="form-control" name="vacaciones" id="vacaciones">
            </div>

            <div class="btn-group" role="group" style="width: 100%;text-align:center;">
                <button type="submit" class="btn btn-outline-dark" >Enviar</button>
                <button type="button" class="btn btn-outline-dark" routerLink="/listar-empleados">Cancelar</button>
            </div>
        </form>
    </div>
</div>