<nav class="navbar navbar-expand navbar-light bg-light" style="display: flex; align-items: center; justify-content: center;">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" routerLink="/aniadir-empleados">Añadir Empleados </a>
        <a class="nav-item nav-link" routerLink="/listar-empleados">Lista de Empleados </a>
    </div>
</nav>

<div class="container" style="display: flex; align-items: center; justify-content: center;">
    <!-- Para acceder a las rutas -->
    <router-outlet></router-outlet>
</div>